{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load bootstrap_tags %}

{% block title %}{% trans "Update Geoserver Layers" %} - {{ block.super }} {% endblock %}
{% block body_class %}layers{% endblock %}
{% block body_outer %}

    <div class="page-header">
        <input id="start_synchro" class="btn btn-primary pull-right" form="post-form" type="submit"
               value="{% trans "Start synchronization" %}"/>
        <h2 class="page-title">{% trans "Synchronize Cart'O and Geoserver" %}</h2>
    </div>
    {% block body %}
        <div class="container col-md-12">
            <form action="/get_update_data/" method="post" id="post-form">

                {% csrf_token %}
                <div class="row">
                    <div class="col-md-7">
                        <label for="{{ form.workspace.id_for_label }}" class="col-md-4" id="workspace"
                               name="workspace">{% trans "workspace" %}</label>
                        <div class="col-md-7">
                            {{ form.workspace }}
                            {{ form.workspace.errors }}
                        </div>
                    </div>
                    <div class="col-md-5">
                        {{ form.ignore_known }}
                        <label for="{{ form.ignore_known.id_for_label }}">
                            &nbsp;{% trans "ignore Cart'O recognizable layers" %}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <label for="{{ form.repository.id_for_label }}"
                               class="col-md-4">{% trans "repository (default all)" %}</label>
                        <div class="col-md-7">
                            {{ form.repository }}
                            {{ form.repository.errors }}
                        </div>
                    </div>
                    <div class="col-md-5">
                        {{ form.remove_deleted }}
                        <label for="{{ form.remove_deleted.id_for_label }}">
                            &nbsp;{% trans "remove deleted layers" %}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <label for="{{ form.layer_owner.id_for_label }}"
                               class="col-md-4">{% trans "Owner" %}</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <input name="author_search_input" id="author_search_input" ng-model="text_query" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="container col-md-12">
            <div class="row">
                <br>
            </div>
        </div>
        <div class="container col-md-12">
            <div class="row well" style="background-color:#D8F6CE;border-radius:0px">
                <div class="row">
                    <div id="output_log" class="col-md-12" style="height:500px;overflow: auto;">
                    </div>
                </div>
                <div class="row">
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-primary pull-left" id="clear_msg"
                           style="background-color:#04B431;border:none;">{% trans "Clear messages" %}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============================== AJAX Refresh Synchro ===================================-->
        <script src="{{ STATIC_URL }}geonode/js/aelbcarto/updatelayers_request.js"></script>
        <!-- ========================================================================================-->
    {% endblock body %}
{% endblock body_outer %}
{% block extra_script %}
    <script type="text/javascript">
        AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "ProfileAutocomplete" %}';
        var text_autocomplete = $('#author_search_input').yourlabsAutocomplete({
            url: AUTOCOMPLETE_URL_RESOURCEBASE,
            choiceSelector: 'span',
            hideAfter: 200,
            minimumCharacters: 1,
            placeholder: gettext('Enter your text here ...'),
            autoHilightFirst: false
        });

        $('#author_search_input').keypress(function(e) {
            // if the Return key is pressed
          if(e.which == 13) {
            $('.yourlabs-autocomplete').hide();
          }
        });

        $('#author_search_input').bind('selectChoice', function(e, choice, text_autocomplete) {
              if(choice[0].children[0] == undefined) {
                  $('#author_search_input').val($(choice[0]).text());
              }
        });
    </script>
{% endblock extra_script %}
