{% load friendly_loader %}
{% friendly_load i18n avatar_tags relationship_tags %}
<h3>{% trans "Following" %}</h3>
{% if profile.user.relationships.following %}
    {% for u in profile.user.relationships.following %}
        <a href="{% url "profile_detail" u.username %}"><img src="{% avatar_url u %}" style="height: 65px"/></a>
    {% endfor %}
{% else %}
    {% trans "This user is not following anyone" %}
{% endif %}
<h3>{% trans "Followers" %}</h3>
{% if profile.user.relationships.followers %}
    {% for u in profile.user.relationships.followers %}
        <a href="{% url "profile_detail" u.username %}"><img src="{% avatar_url u %}" style="height: 65px"/></a>
    {% endfor %}
{% else %}
    {% trans "No one is following this user" %}
{% endif %}
