{% load i18n %}
<li>
  <div class="activity-item">
    <p>
      <span class="icon-activity {{ activity_class|default:'activity' }}"></span>
      {% if object %}
      <span class="thumb-activity"><img src="{{ object.thumbnail_url }}"></span>
      {% endif %}
      <a href="{{ actor.get_absolute_url }}">{{ username }}</a>

      {{ verb|safe }}

      {% if object %}
        {% if object.get_absolute_url %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>
        {% else %}
          {{ object_name }}
        {% endif %}
      {% elif object_name %}
        {{ object_name }}
      {% endif %}

      {% if target %}
        {{ preposition|default:"to" }}
        {% if fragment %}
          <a href="{{ target.get_absolute_url }}#{{ fragment }}">{{ target }}</a>
        {% else %}
          <a href="{{ target.get_absolute_url }}">{{ target }}</a>
        {% endif %}
      {% endif %}
    </p>
    <p class="activity-timestamp">{% trans "ago" %} {{ timestamp|timesince }} </p>
  </div>
</li>
