{% extends "groups/group_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Create Group" %}{% endblock %}
{% block body_class %}groups update{% endblock %}

{% block body %}
     <div class="block">
        <div class="col-md-10">
          <h2 class="page-title">{% trans "Update Group" %}</h2>
          {% if errors %}
            <div id="errors">
              {% for error in errors %}
                <div>{{ error }}</div>
              {% endfor %}
            </div>
          {% endif %}
            <div>
                    <form class="uniForm" id="form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
            <div class="form_block">
                <input type="hidden" name="action" value="create" />
                <input type="submit" class="btn btn-primary" value="{% trans 'Update' %}"/>
            </div>
        </fieldset>
    </form>
            </div>
        </div>
    </div>

{% endblock %}
