{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
    <div class="col-md-12" style="margin: 2%">
        <div id="description"><h3>{% trans "Page Not Found" %}</h3></div>
            {% trans "The page you requested does not exist.  Perhaps you are using an outdated bookmark?" %}
    </div>
{% endblock %}
