{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "User Guide" %} - {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "GeoNode Help" %}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="lead">{% trans "This page provides helpful information about how to use the GeoNode. You can use the sidebar links to navigate to what you want to know." %}</p>

    {% blocktrans %}
    <p>The GeoNode provides access to data sets and a map editing application allows users to browse existing maps and contribute their own.</p>

    <h4 id="browsing-data">Browsing Layers</h4>
    <p>The <a href="/layers">Layers</a> tab allows you to browse data uploaded to this GeoNode.</p>
    <p>All data can be downloaded in a variety of formats, for use in other applications.</p>

    <h4 id="developer-access">Developer Access</h4>
    <p>The <a href="/developer"> Developer</a> page is the place for developers to get started building applications against the GeoNode. It includes instructions on using the web services, links to the source code of the GeoNode, and information about the open source projects used to create it.</p>

    <h4 id="browsing-maps">Browsing Maps</h4>
    <p>The GeoNode allows users to create and share maps with one another.</p>
    <p>The <a href="/maps">Maps</a> tab is a gateway to map exploration on GeoNode.  From here you can <strong>search for a map</strong> or <strong>create a map</strong>, which will open the <a href="/maps/new">Map Composer</a>.</p>
    <h5>Google Earth Mode</h5>
    <p>Any map viewed in the interactive map editor can be seen in 3D mode with the Google Earth plugin. To switch to 3D mode select the Google Earth globe logo, the rightmost button on top toolbar. If you do not have the Google Earth plugin installed you will be prompted to install it.</p>

    <h4 id="creating-a-map">Creating a Map</h4>
    <p>To create a new map go to the <a href="/maps">Contributed Maps</a> tab and click the <a href="/maps/new">create your own map</a> link.</p>
    <p>This will take you to the <a href="/maps/new">Map Composer</a> with a base layer loaded.</p>
    <p>To add data layers from the GeoNode click on the green plus button located below the layers tab on the left hand side of the screen. This will open a dialog listing all the layers available on the GeoNode.</p>
    <p>To add layers to your map select them and hit the <strong>Add Layers</strong> button. When finished you may hit <strong>Done</strong> to close the dialog and go back to the map.</p>

    <h5>Reordering and Removing Layers</h5>
    <p>Change the display order of the layers listed in the data tab by simply dragging and dropping their names. The order in the map will be updated to reflect that. To turn a layer's visibility off simply uncheck it, and to remove it entirely select it and hit the red minus button.</p>

    <h5>Saving your map</h5>
    <p>Once a suitable set of layers and zoom level has been found it's time to save it so others can see it.  Click the Save button--the left most icon on the top toolbar, an image of a map with a disk--on the top menu and fill out the title and abstract of the map.</p>

    <h4 id="exporting-a-map">Exporting a Map</h4>
    <p>Any map from the GeoNode can be embedded for use in another site or blog. To export a map:</p>
    <ol>
      <li>Select the from the list of maps on the community or map page and then hit the 'export map' button.</li> 
      <li>Choose your desired height and width for the widget in the wizard.</li> 
      <li>Copy the HTML snippet provided in the wizard to any HTML page or iFrame-supporting blog post.</li>
    </ol>
    <p>This will put an interactive widget showing you map in your web page or blog post.</p>
    <p>Note that the <a href="/maps/new">Map Composer</a> also has a button to export the map. Just be sure to save the map before exporting if there are changes that you want others to see. It exports the last saved version, not the last viewed version.</p>

    <h4 id="remixing-a-map">Remixing a Map</h4>
    <p>Any map available can serve as a starting point for a new map.</p>
    <ol>
      <li>Open the map in the Map Composer.</li>
      <li>Add and remove layers as you like.</li>
      <li>Pan and zoom to highlight the area of interest.</li>
      <li><strong>IMPORTANT:</strong> Update the title, abstract, contact info and tags to reflect the new map.</li>
      <li>Save the map.</li>
    </ol>
    <p>You will be able to see your new map when you search for it from the <a href="/maps">Maps</a> tab.</p> 
    {% endblocktrans %}
  </div>
  <div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item"><h3>{% trans "Sections" %}</h3></li>
    <li class="list-group-item"><a href="#browsing-data">{% trans "Browsing Layers" %}</a></li>
    <li class="list-group-item"><a href="#developer-access">{% trans "Developer Access" %}</a></li>
    <li class="list-group-item"><a href="#browsing-maps">{% trans "Browsing Maps" %}</a></li>
    <li class="list-group-item"><a href="#creating-a-map">{% trans "Creating a Map" %}</a></li>
    <li class="list-group-item"><a href="#exporting-a-map">{% trans "Exporting a Map" %}</a></li>
    <li class="list-group-item"><a href="#remixing-a-map">{% trans "Remixing a Map" %}</a></li>
  </ul>
</div>
</div>
{% endblock %}