{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {% block hero %}
      <div class="jumbotron">
        <div class="container">
            <h1>Cart'O</h1>
            <p>Le portail de l’information cartographique de l’Agence de l’eau Loire-Bretagne</p>
        </div>
      </div>
  {% endblock %}
    {{ block.super }}
  {% block mainbody %}
  <div class="container">
    {% with facet_type='home' %}
     {% facets as facets %}
    <div class="row home-facets">
      <div class="col-md-4" style="margin-bottom: 1.3em">
      <div class="col-md-12 " >
        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
        <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No_item") }} {% blocktrans count counter=facets.layer %}Layer_lowercase{% plural %}Layers_lowercase{% endblocktrans %}</a></h2>
        <p id="p_home">{% trans "home_layers" %}<br /></p>
          {% if perms.layers.add_layer or perms.base.add_resourcebase%}
        <p><a class="btn btn-default"  href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
        {% else %}
        <p><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore_layers" %} &raquo;</a></p>
        {% endif %}
      </div>
        </div>
      <div class="col-md-4">
      <div class="col-md-12">
        <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No_item") }} {% blocktrans count counter=facets.map %}Map_lowercase{% plural %}Maps_lowercase{% endblocktrans %}</a></h2>
        <p id="p_home">{% trans "home_maps" %}</p>
          {% if perms.maps.add_map or perms.base.add_resourcebase%}
        <p ><a class="btn btn-default"  href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
        {% else %}
        <p ><a class="btn btn-default"  href="{% url "maps_browse" %}" role="button">{% trans "Explore_maps" %} &raquo;</a></p>
        {% endif %}
      </div>
      </div>
      <div class="col-md-4" >
      <div class="col-md-12">
        <p><a href="{% url "document_browse" %}"><i class="fa fa-user fa-5x"></i></a></p>
        <h2><a href="{% url "document_browse" %}">{{ facets.document|default:_("No_item") }} {% blocktrans count counter=facets.document %}Document_lowercase{% plural %}Documents_lowercase{% endblocktrans %}</a></h2>
        <p id="p_home">{% trans "home_documents" %}</p>
          {% if perms.documents.add_document or perms.base.add_resourcebase%}
        <p ><a class="btn btn-default"  href="{% url "document_upload" %}" role="button">{% trans "Add Documents" %} &raquo;</a></p>
        {% else %}
        <p ><a class="btn btn-default"  href="{% url "document_browse" %}" role="button">{% trans "Explore_Documents" %} &raquo;</a></p>
        {% endif %}
      </div>
      </div>
    {% endwith %}
    </div>
  </div>
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}
  
{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){  
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })(); 
  </script>

{% endblock extra_script %}
