{% load staticfiles %}
{% if DEBUG_STATIC %}
<script src="{% static "lib/js/bootstrap-datetimepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "lib/js/bootstrap-treeview.min.js" %}" type="text/javascript"></script>
<script src="{% static "lib/js/bootstrap-tokenfield.js" %}" type="text/javascript"></script>
{% endif %}
<script type="text/javascript">
{% autoescape off %}
    $(function() {
      var pickerOptions = {
          format: 'DD-MM-YY hh:mm A',
          pickDate: true,
          pickTime: true,
          language: 'fr',
          icons: {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down'
          }
      };
      $('#id_resource-date_picker').datetimepicker(pickerOptions);
      $('#id_resource-temporal_extent_start_picker').datetimepicker(pickerOptions);
      $('#id_resource-temporal_extent_end_picker').datetimepicker(pickerOptions);
    });

    $('.modal-forms').css('max-height', '500px').css('overflow-y', 'scroll');    
    $('.modal-cloose-btn').css('margin','20px');

    $('.modal-cloose-btn').click(function(){
      $('.modal-forms').modal('hide');
    });

    $('#id_resource-poc').change(function(){
      if($(this).val() === ''){
        $('#poc_form').modal();
      }
    });

    $('#id_resource-metadata_author').change(function(){
      if($(this).val() === ''){
        $('#metadata_form').modal();
      }
    });

    $(document).ready(function() {
        {% if layer.metadata_uploaded_preserve %}
        $('#layer_metadata_update :input').attr('readonly','readonly');
        {% endif %}
        $('.has-popover').popover({'trigger':'hover'});

        var params = typeof FILTER_TYPE == 'undefined' ? {} : {'type': FILTER_TYPE};
        $('#id_resource-keywords').tokenfield({
/*
            autocomplete: {
                source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
                delay: 100
            },
            showAutocompleteOnFocus: true
*/
        });

        $.ajax('/h_keywords_api', {params: params}).success(function(data){
            $('#treeview').treeview({
                data: data,
                levels: 1,
                onNodeSelected: function($event, $data) {
                    //TODO: This seems a horribly inelegant way of doing this in 12 Lines
                    kws = $('#id_resource-keywords').tokenfield('getTokens');
                    newToken = $data.text;
                    exists = false;
                    for (kw in kws) {
                        if (kws[kw]['value'].indexOf(newToken) >=0) {
                            exists = true;
                        }
                    }
                    if (!exists) {
                        $('#id_resource-keywords').tokenfield('createToken', $data.text);
                    }
                }
            });
        });
    });
    
    //Add default value to region
    if ($('#id_resource-regions').val() == null){
        // 90 = France in initial_data.json
        $('#id_resource-regions option[value="90"]').attr('selected','selected');
    }

{% endautoescape %}
</script>
