{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{{ layer.typename }} — {{ block.super }}{% endblock %}

{% block body_class %}data{% endblock %}

{% block body_outer %}

<style>

    .subtitle {
        font-size:16px;
        color: #428bca;
    }

    .sep_title hr {
        margin-top: 2px;
    }

</style>

<div class="page-header">
    {% if layer.doc_file %}
    <a href="{% url 'document_detail' docid=docid %}" class="btn btn-primary pull-right">{% trans "Return to Document" %}</a>
    {% else %}
    <a href="{% url 'layer_detail' layername=layer.typename %}" class="btn btn-primary pull-right">{% trans "Return to Layer" %}</a>
    {% endif %}
    <h2 class="page-title">{% trans "Metadata" %} : {{ layer.title }}</h2>
</div>


<article class="description tab-pane active" id="info">

    <span class="subtitle">{% trans "Identification" %}</span>
    <div class="sep_title"><hr></div>

    <dl class="dl-horizontal">
        {% if layer.title %}
        <dt>{% trans "Title" %}</dt>
        <dd>{{ layer.title|truncatechars:80 }}</dd>
        {% endif %}

        {% if layer.abstract %}
        <dt>{% trans "Abstract" %}</dt>
        <dd>{{ layer.abstract|escape|urlize|linebreaks|safe|truncatechars:1000 }}</dd>
        {% endif %}

    </dl>    

    <dl class="dl-horizontal">   

        {% if LICENSES_ENABLED and LICENSES_DETAIL == 'above' and layer.license %}
        <dt>{% trans "License" %}</dt>
        <dd>{{ layer.license.name_long }} <a href="#license-more-above" data-toggle="collapse" data-target=".license-more-above"><i class="fa fa-info-circle"></i></a></dd>
        {% endif %}
        <dd class="license-more-above collapse">
            {% for bullet in layer.license.description_bullets %}
            {{ bullet }}<br/><br/>
            {% endfor %}
            {% if layer.license.url %}
            + {% trans "For more info see" %} <a href="{{ layer.license.url }}">{{ layer.license.url }}</a>.
            {% endif %}
        </dd>


        {% if layer.date %}
        <dt>{% trans layer.date_type|title %} {% trans "Date" %}</dt>
        <dd>{{ layer.date }}</dd>
        {% endif %}

        {% if layer.display_type %}
        <dt>{% trans "Type" %}</dt>
        <dd>{{ layer.display_type }}</dd>
        {% endif %}

        {% if layer.keyword_list %}
        <dt>{% trans "Keywords" %}</dt>
        <dd>{% for keyword in layer.keyword_list %}
            {{ keyword }}
            {% endfor %}</dd>
        {% endif %}

        {% if layer.category %}
        <dt>{% trans "Category" %}</dt>
        <dd><a href="/search/?category__identifier__in={{ layer.category.identifier }}">{{ layer.category }}</a> {% if layer.category.description %}<a href="#category-more" data-toggle="collapse" data-target=".category-more"><i class="fa fa-info-circle"></i></a>{% endif %}</dd>
        {% if layer.category.description %}
        <dd class="category-more collapse">
            {{ layer.category.description }}
        </dd>
        {% endif %}
        {% endif %}

        {% if layer.domains.all %}
        <dt>{% trans "Domains" %}</dt>
        <dd>{{ layer.domains.all|join:", " }}</dd>
        {% endif %}

        {% if layer.regions.all %}
        <dt>{% trans "Regions" %}</dt>
        <dd>{{ layer.regions.all|join:", " }}</dd>
        {% endif %}

        {% if layer.zones.all %}
        <dt>{% trans "Zones" %}</dt>
        <dd>{{ layer.zones.all|join:", " }}</dd>
        {% endif %}

        <dt>{% trans "Published" %}</dt>
        <dd>{% if layer.is_published %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}</dd>

        <dt>{% trans "Featured" %}</dt>
        <dd>{% if layer.featured %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}</dd>


    </dl>


    <span class="subtitle">{% trans "Owner" %}</span>
    <div class="sep_title"><hr></div>

    <dl class="dl-horizontal">

        {% if layer.owner %}
        {% with layer.owner as poc %}

        <dt>{% trans "Name" %}</dt>
        <dd>{{ poc.name_long }}</dd>

        <dt>{% trans "email" %}</dt>
        <dd>{{ poc.email }}</dd>

        <dt>{% trans "Position" %}</dt>
        <dd>{{ poc.position }}</dd>

        <dt>{% trans "Organization" %}</dt>
        <dd>{{ poc.organization }}</dd>

        <dt>{% trans "Location" %}</dt>
        <dd>{{ poc.location }}</dd>

        <dt>{% trans "Voice" %}</dt>
        <dd>{{ poc.voice }}</dd>

        <dt>{% trans "Fax" %}</dt>
        <dd>{{ poc.fax }}</dd>

        {% if poc.keyword_list %}
        <dt>{% trans "Keywords" %}</dt>
        <dd>{% for keyword in poc.keyword_list %}
            {{ keyword }}
            {% endfor %}</dd>
        {% endif %}

        {% endwith %} 
        {% endif %}

    </dl>

    <span class="subtitle">{% trans "Information of Layer" %}</span>
    <div class="sep_title"><hr></div>

    <dl class="dl-horizontal">

        <dt>{% trans "Identification Image" %}</dt>
        <dd>
            <a href="{{ layer.get_thumbnail_url }}"><img ng-src="{{ layer.get_thumbnail_url }}" src="{{ layer.get_thumbnail_url }}"></a>
        </dd>

    </dl>

    <dl class="dl-horizontal">

        <dt>{% trans "Spatial Resolution" %}</dt>
        <dd>{% if layer.scale %} {{ layer.scale }} {% else %} --- {% endif %}</dd>

        <dt>{% trans "Projetion System" %}</dt>
        <dd>{{ layer.srid }}</dd>

        <dt>{% trans "Extension x0" %}</dt>
        <dd>{{layer.bbox_x0}}</dd>

        <dt>{% trans "Extension x1" %}</dt>
        <dd>{{layer.bbox_x1}}</dd>

        <dt>{% trans "Extension y0" %}</dt>
        <dd>{{layer.bbox_y0}}</dd>

        <dt>{% trans "Extension y1" %}</dt>
        <dd>{{layer.bbox_y1}}</dd>

    </dl>

    <span class="subtitle">{% trans "Features" %}</span>
    <div class="sep_title"><hr></div>

    <dl class="dl-horizontal">

        {% if LICENSES_ENABLED and LICENSES_DETAIL == 'below' and layer.license %}
        <dt>{% trans "License" %}</dt>
        <dd>{{ layer.license.name_long }} <a href="#license-more-below" data-toggle="collapse" data-target=".license-more-below"><i class="fa fa-info-circle"></i></a></dd>
        <dd class="license-more-below collapse">
            {% for bullet in layer.license.description_bullets %}
            {{ bullet }}<br/><br/>
            {% endfor %}
            {% if layer.license.url %}
            + {% trans "For more info see" %} <a href="{{ layer.license.url }}">{{ layer.license.url }}</a>.
            {% endif %}
        </dd>
        {% endif %}

        {% if layer.maintenance_frequency %}
        <dt>{% trans "Maintenance Frequency" %}</dt>
        <dd>{{ layer.maintenance_frequency_title }}</dd>
        {% endif %}

        {% if layer.restriction_code_type or layer.constraints_other %}
        <dt>{% trans "Restrictions" %}</dt>
        <dd>{% if layer.constraints_other %}
            {{ layer.constraints_other }}
            {% else %}
            {{ layer.restriction_code_type }}
            {% endif %}</dd>
        {% endif %}

        {% if layer.edition %}
        <dt>{% trans "Edition" %}</dt>
        <dd>{{ layer.edition}}</dd>
        {% endif %}

        {% if layer.purpose %}
        <dt>{% trans "Purpose" %}</dt>
        <dd>{{ layer.purpose|escape|urlize|linebreaks|safe|truncatechars:160 }}</dd>
        {% endif %}

        {% if layer.language %}
        <dt>{% trans "Language" %}</dt>
        <dd>{{ layer.language_title }}</dd>
        {% endif %}

        {% if layer.temporal_extent_start and layer.temporal_extent_end %}
        <dt>{% trans "Temporal Extent" %}</dt>
        <dd>{{ layer.temporal_extent_start }} - {{ layer.temporal_extent_end }}</dd>
        {% endif %}

        {% if layer.data_quality_statement %}
        <dt>{% trans "Data Quality" %}</dt>
        <dd>{{ layer.data_quality_statement }}</dd>
        {% endif %}

        {% if layer.supplemental_information %}
        <dt>{% trans "Supplemental Information" %}</dt>
        <dd>{{ layer.supplemental_information|truncatechars:160|escape|urlize|linebreaks|safe }}</dd>
        {% endif %}

        {% if layer.spatial_representation_type %}
        <dt>{% trans "Spatial Representation Type" %}</dt>
        <dd>{{ layer.spatial_representation_type }}</dd>
        {% endif %}

    </dl>
    
    {% if layer.poc %}   
    <span class="subtitle">{% trans "Contact Points" %}</span>
    <div class="sep_title"><hr></div>
    
    <dl class="dl-horizontal">

        <dt>{% trans "Name" %}</dt>
        <dd>{{ layer.poc.name_long }}</dd>

        <dt>{% trans "email" %}</dt>
        <dd>{{ layer.poc.email }}</dd>

        <dt>{% trans "Position" %}</dt> 
        <dd>{{ layer.poc.position }}</dd>

        <dt>{% trans "Organization" %}</dt>
        <dd>{{ layer.poc.organization }}</dd>

        <dt>{% trans "Location" %}</dt>
        <dd>{{ layer.poc.location }}</dd>

        <dt>{% trans "Voice" %}</dt>
        <dd>{{ layer.poc.voice }}</dd>

        <dt>{% trans "Fax" %}</dt>
        <dd>{{ layer.poc.fax }}</dd>

        {% if poc.keyword_list %}
        <dt>{% trans "Keywords" %}</dt>
        <dd>{% for keyword in layer.poc.keyword_list %}
            {{ keyword }}
            {% endfor %}</dd>
        {% endif %}
        
        <hr>

    </dl>
    
    
    
    {% endif %}

    <span class="subtitle">{% trans "References" %}</span>
    <div class="sep_title"><hr></div>

    <dl class="dl-horizontal">

        <dt>{% trans "Link Online" %}</dt>
        <dd><a href="{{ layer.get_absolute_url }}">{{ layer.get_absolute_url }}</a></dd>

        <dt>{% trans "Metadata Page" %}</dt>
        <dd><a href="{{ layer.get_absolute_url }}/metadata_detail">{{ layer.get_absolute_url }}/metadata_detail</a></dd>

        {% if layer.doc_file %}
        <dt>{% trans "Online Link" %}</dt>
        <dd><a href="{{ layer.get_absolute_url }}/download">{{ layer.get_absolute_url }}/download</a></dd>
        {% endif %}

        <hr>

        {% for link in layer.link_set.download %}
        <dt>{{link.name}}</dt>
        <dd><a href="{{link.url}}">{{layer.name}}.{{link.extension}}</a></dd> 
        {% endfor %}

        <hr>

        {% for link in layer.link_set.ows %}
        <dt>{{link.name}}</dt>
        <dd><a href="{{link.url}}">Geoservice {{link.link_type}}</a></dd>
        {% endfor %}

    </dl>

    {% if layer.metadata_author %}
    <span class="subtitle">{% trans "Metadata Author" %}</span>
    <div class="sep_title"><hr></div>

    <dl class="dl-horizontal">

        {% with layer.metadata_author as poc %}

        <dt>{% trans "Name" %}</dt>
        <dd>{{ poc.name_long }}</dd>

        <dt>{% trans "email" %}</dt>
        <dd>{{ poc.email }}</dd>

        <dt>{% trans "Position" %}</dt>
        <dd>{{ poc.position }}</dd>

        <dt>{% trans "Organization" %}</dt>
        <dd>{{ poc.organization }}</dd>

        <dt>{% trans "Location" %}</dt>
        <dd>{{ poc.location }}</dd>

        <dt>{% trans "Voice" %}</dt>
        <dd>{{ poc.voice }}</dd>

        <dt>{% trans "Fax" %}</dt>
        <dd>{{ poc.fax }}</dd>

        {% if poc.keyword_list %}
        <dt>{% trans "Keywords" %}</dt>
        <dd>{% for keyword in poc.keyword_list %}
            {{ keyword }}
            {% endfor %}</dd>
        {% endif %}

        {% endwith %} 

    </dl>
    {% endif %}


</article>


{% endblock %}
