<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/openlayers/ol.css" type="text/css">
<script src="{{ STATIC_URL }}geonode/js/openlayers/ol.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/proj4.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}geonode/js/projections/2154.js"></script>
<script src="{{ STATIC_URL }}geonode/js/utils/thumbnail_ol3.js"></script>
<script type="text/javascript">
  
  document.addEventListener("DOMContentLoaded", function(event) {

  	document.getElementById('preview_map').setAttribute("style", "height:600px");

    window.app = {};
    var app = window.app;

    {% if resource.bbox_string %}
    var bbox = [{{ resource.bbox_string }}];
    {% else %}
    var bbox = null;
    {% endif %}
    
    source = null;

    {% if resource.get_tiles_url %}
    source = new ol.source.XYZ({
    	url: '{{ resource.get_tiles_url|safe }}'
    });

    {% elif resource.ptype == 'gxp_wmscsource' %}
    source = new ol.source.TileWMS({
    	url: '{{ resource.ows_url|safe }}',
    	params: {'LAYERS': '{{ resource.typename }}'}
    });

    {% elif resource.ptype == 'gxp_arcrestsource' %}
    source = new ol.source.TileArcGISRest({
    	url: '{{ resource.ows_url|safe }}',
        params: {'LAYERS': '{{ resource.typename }}'}
    });

    {% endif %}

    var crs = '{{ DEFAULT_MAP_CRS|safe }}';
    //var crs = '{{ crs }}';
    var basemaps = {{ MAP_BASELAYERS |safe }};

    if (source != null) {
        var layers = [];
        // settings baseMaps
        for (var j = 0; j < basemaps.length ; j++) {
            if (basemaps[j]["source"]["url"] == "{{ BRGM_WMS }}" && "{{ BRGM_WMS }}" != "") {
                layers.push(
                    new ol.layer.Tile({
                        source: new ol.source.TileWMS({
                            url: basemaps[j]["source"]["url"],
                            params: {'LAYERS': basemaps[j]["name"]}
                        })
                    })
                );
            }
        }
        // in the case of a Geoserver Layer
        for (var i = 0; i < basemaps.length ; i++) {
            if (basemaps[i]["source"]["url"] != "{{ BRGM_WMS }}") {
                if (basemaps[i]["source"]["url"] == ("{{ GEOSERVER_BASE_URL }}" + "wms") && "{{ GEOSERVER_BASE_URL }}" != "") {
                    layers.push(
                        new ol.layer.Tile({
                            source: new ol.source.TileWMS({
                                url: basemaps[i]["source"]["url"],
                                params: {'LAYERS': '{{ resource.typename }}'}
                            })
                        })
                    );
                }
            }
        }

        // in the case of a WebService Layer
        if ('{{ resource.ows_url }}' != ("{{ GEOSERVER_BASE_URL }}" + "wms") && '{{ resource.ows_url }}' != "{{ BRGM_WMS }}") {
            layers.push(
                new ol.layer.Tile({
                    source: new ol.source.TileWMS({
                        url: '{{ resource.ows_url }}',
                        params: {'LAYERS': '{{ resource.typename }}'}
                    })
                })
            );
        }

        if (bbox != null) {
            bbox = ol.proj.transformExtent(bbox, 'EPSG:4326', crs);
        }

        app.ZoomToControl = function(opt_options) {
            var options = opt_options || {};
            var button = document.createElement('button');
            //button.innerHTML = 'E';
            button.className = 'fa fa-globe';
            button.style.margin = 0;
            var this_ = this;
            var zoomToExtent = function(e) {
                map.getView().setCenter(ol.proj.transform([{{ LAYER_VIEW_CENTER_LAT|safe }}, {{ LAYER_VIEW_CENTER_LNG|safe }}],"EPSG:4326", crs));
                map.getView().setZoom({{ LAYER_VIEW_ZOOM }});
            };
            button.addEventListener('click', zoomToExtent, false);
            button.addEventListener('touchstart', zoomToExtent, false);

            var element = document.createElement('div');
            element.className = 'ol-zoom-extent ol-unselectable ol-control';
            element.appendChild(button);

            ol.control.Control.call(this, {
                element: element,
                target: options.target
            });

        };
        ol.inherits(app.ZoomToControl, ol.control.Control);

        var map = new ol.Map({
            controls: ol.control.defaults({
                attribution: false
            }).extend([
                new app.ZoomToControl()
            ]),
            layers: layers,
            target: 'preview_map',
            view: new ol.View({
                center: ol.proj.transform([0, 0], "EPSG:3857", crs),
                zoom: 2,
                projection: crs,
                extent: bbox
            })
        });

        map.getView().fit(bbox, map.getSize());

        miniature_map = map;

    }
  });

</script>
