{% extends "services/services_base.html" %}
{% load i18n %}

{% block title %} Services -- {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "register_service" %}" class="btn btn-primary pull-right">{% trans "Register a new Service" %}</a>
  <h2>{% trans "Remote Services" %}</h2>
</div>
<div class="twocol">
{% if services %}
<table class="table">
  <thead>
  	<th>{% trans "Title" %}</th>
  	<th>URL</th>
  </thead>
  {% for service in services %}
  <tr>
	<td><a href='{% url "service_detail" service.id %}'>{{ service.title }}</a></td>
	<td><a href='{% url "service_detail" service.id %}'>{{ service.base_url }}</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h4>{% trans "No services registered" %}</h4>
{% endif %}
</div>
{% endblock %}