{% extends "services/services_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head %}
    {{ block.super }}


{% endblock %}

{% block title %} Edit Service - {{ block.super }} {% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="page-header">
            <h2>{% trans "Edit Service" %}</h2>
        </div>
        <form method="POST" id="service_edit_form">
            {% csrf_token %}
            {{ service_form|as_bootstrap }}
            <div class="grid-spacer">
                <p><input type="submit" class="btn btn-primary" value="{% trans "Save" %}"/></p>
            </div>
        </form>
    </div>
{% endblock %}