<div class="panel panel-default" id="composerCart">
  <div class="panel-heading">Panier</div>
  <div class="panel-body">
    <p ng-show="!cart.getCart().items.length">Ajoutez au panier avec le bouton <i class="fa fa-lg fa-cart-plus"></i> </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="resource in cart.getCart().items">{{ resource.title | limitTo: 25}}{{ resource.title.length > 25 ? '...' : '' }}<button class="btn btn-default btn-xs pull-right" ng-click="cart.removeItem(resource)"><i class="fa fa-remove fa-lg"></i></button></li>
  </ul>
</div>