{% load i18n %}

<article itemscope itemtype="http://schema.org/Dataset" class="description tab-pane {% if not tab or tab == 'info' %}active{% endif %}" id="info">
  <dl class="dl-horizontal">
    {% if resource.title %}
    <dt>{% trans "Title" %}</dt>
    <dd itemprop="name">{{ resource.title|truncatechars:80 }}</dd>
    {% endif %}

    {% if resource.srid and SRID_DETAIL == 'above' %}
    <dt>{% trans "SRID" %}</dt>
    <dd>{{ resource.srid }}</dd>
    {% endif %}

    {% if LICENSES_ENABLED and LICENSES_DETAIL == 'above' and resource.license %}
    <dt>{% trans "License" %}</dt>
    <dd itemprop="license">{{ resource.license.name_long }} <a href="#license-more-above" data-toggle="collapse" data-target=".license-more-above"><i class="fa fa-info-circle"></i></a></dd>
    {% endif %}
    <dd class="license-more-above collapse">
      {% for bullet in resource.license.description_bullets %}
        {{ bullet }}<br/><br/>
      {% endfor %}
      {% if resource.license.url %}
        + {% trans "For more info see" %} <a href="{{ resource.license.url }}">{{ resource.license.url }}</a>.
      {% endif %}
    </dd>

    {% if resource.abstract %}
    <dt>{% trans "Abstract" %}</dt>
    <dd itemprop="description">{{ resource.abstract|escape|urlize|linebreaks|safe|truncatechars:500 }}</dd>
    {% endif %}
    
    {% if resource.date %}
    <dt>{% trans "Date of" %} {% trans resource.date_type %} </dt>
      {% if resource.date_type == 'creation' %}
        <dd itemprop="dateCreated" datetime="{{ resource.date|date:"c"}}">{{ resource.date }}</dd>
      {% elif resource.date_type == 'publication' %}
        <dd itemprop="datePublished" datetime="{{ resource.date|date:"c"}}">{{ resource.date }}</dd>
      {% else %}
        <dd itemprop="dateModified" datetime="{{ resource.date|date:"c"}}">{{ resource.date }}</dd>
      {% endif %}
    {% endif %}

    {% if resource.display_type %}
    <dt>{% trans "Type" %}</dt>
    <dd>{{ resource.display_type }}</dd>
    {% endif %}

    {% if resource.keywords.count > 0 %}
    <dt>{% trans "Keywords" %}</dt>
    <dd itemprop="keywords">
      {% for keyword in resource.keywords.all %}
	<a itemscope itemtype="http://schema.org/Text" href="{% url "search" %}?keywords__slug__in={{ keyword.slug }}" >
          {{ keyword.name }}
        </a>
        {% if not forloop.last %},{% endif %}
      {% endfor %}
    </dd>
    {% endif %}
          
    {% if resource.category %}
    <dt>{% trans "Category" %}</dt>
    <dd><a href="{% url "search" %}?category__identifier__in={{ resource.category.identifier }}">{{ resource.category }}</a> {% if resource.category.description %}<a href="#category-more" data-toggle="collapse" data-target=".category-more"><i class="fa fa-info-circle"></i></a>{% endif %}</dd>
      {% if resource.category.description %}
      <dd class="category-more collapse">
        {{ resource.category.description }}
      </dd>
      {% endif %}
    {% endif %}
  
    {% if resource.regions.all %}
    <dt>{% trans "Regions" %}</dt>
    <dd itemprop="keywords">
      {% for region in resource.regions.all %}
        <a itemscope itemtype="http://schema.org/Text" href="{% url "search" %}?regions__name__in={{ region.name }}">
          {{ region.name }}
        </a>
        {% if not forloop.last %},{% endif %}
      {% endfor %}
    </dd>
    {% endif %}

    {% if resource.zones.all %}
    <dt>{% trans "Zones" %}</dt>
    <dd itemprop="keywords">
      {% for zone in resource.zones.all %}
        <a itemscope itemtype="http://schema.org/Text" href="{% url "search" %}?zones__name__in={{ zone.name }}">
          {{ zone.name }}
        </a>
        {% if not forloop.last %},{% endif %}
      {% endfor %}
    </dd>
    {% endif %}

    {% if resource.domains.all %}
    <dt>{% trans "Domains" %}</dt>
    <dd itemprop="keywords">
      {% for domain in resource.domains.all %}
        <a itemscope itemtype="http://schema.org/Text" href="{% url "search" %}?domains__identifier__in={{ domain.identifier }}">
          {{ domain.gn_description }}
        </a>
        {% if not forloop.last %},{% endif %}
      {% endfor %}
    </dd>
    {% endif %}
  
    {% if resource.owner %}
    <dt>{% trans "Owner" %}</dt>
    <dd><a itemprop="author" href="{{ resource.owner.get_absolute_url }}">{{ resource.owner.username }}</a></dd>
    {% endif %}

    {% if resource.poc.user %}
    <dt>{% trans "Point of Contact" %}</dt>
    <dd><a href="{{ resource.poc.user.get_absolute_url }}">{{ resource.poc.user.username }}</a></dd>
    {% endif %}
  </dl>

  <dl class="dl-horizontal">
    <dt><a href="#more" data-toggle="collapse" data-target=".more">{% trans "More info" %}</a></dt>
    <dd>-</dd>
  </dl>

  <dl class="dl-horizontal">
    <div class="more collapse">

    {% if resource.srid and SRID_DETAIL == 'below' %}
    <dt>{% trans "SRID" %}</dt>
    <dd>{{ resource.srid }}</dd>
    {% endif %}

    {% if LICENSES_ENABLED and LICENSES_DETAIL == 'below' and resource.license %}
    <dt>{% trans "License" %}</dt>
    <dd>{{ resource.license.name_long }} <a href="#license-more-below" data-toggle="collapse" data-target=".license-more-below"><i class="fa fa-info-circle"></i></a></dd>
      <dd class="license-more-below collapse">
        {% for bullet in resource.license.description_bullets %}
          {{ bullet }}<br/><br/>
        {% endfor %}
        {% if resource.license.url %}
          + {% trans "For more info see" %} <a href="{{ resource.license.url }}">{{ resource.license.url }}</a>.
        {% endif %}
      </dd>
    {% endif %}

    {% if resource.maintenance_frequency %}
    <dt>{% trans "Maintenance Frequency" %}</dt><br>
    <dd>{{ resource.maintenance_frequency_title }}</dd>
    {% endif %}
    
    {% if resource.restriction_code_type or resource.constraints_other %}
    <dt>{% trans "Restrictions" %}</dt>
    <dd>{% if resource.constraints_other %}
            {{ resource.constraints_other }}
        {% else %}
            {{ resource.restriction_code_type }}
        {% endif %}</dd>
    {% endif %}
          
    {% if resource.edition %}
    <dt>{% trans "Edition" %}</dt>
    <dd>{{ resource.edition}}</dd>
    {% endif %}

    {% if resource.purpose %}
    <dt>{% trans "Purpose" %}</dt>
    <dd>{{ resource.purpose|escape|urlize|linebreaks|safe|truncatechars:160 }}</dd>
    {% endif %}

    {% if resource.language %}
    <dt>{% trans "Language" %}</dt>
    <dd>{{ resource.language_title }}</dd>
    {% endif %}

    {% if resource.temporal_extent_start and resource.temporal_extent_end %}
    <dt>{% trans "Temporal Extent" %}</dt>
    <dd>{{ resource.temporal_extent_start }} - {{ resource.temporal_extent_end }}</dd>
    {% endif %}

    {% if resource.data_quality_statement %}
    <dt>{% trans "Data Quality" %}</dt>
    <dd>{{ resource.data_quality_statement }}</dd>
    {% endif %}

    {% if resource.supplemental_information %}
    <dt>{% trans "Supplemental Information" %}</dt>
    <dd>{{ resource.supplemental_information|truncatechars:160|escape|urlize|linebreaks|safe }}</dd>
    {% endif %}

    {% if resource.spatial_representation_type %}
    <dt>{% trans "Spatial Representation Type" %}</dt>
    <dd>{{ resource.spatial_representation_type }}</dd>
    {% endif %}

  </div>

  </dl>

</article>
