{% load friendly_loader %}
{% friendly_load avatar_tags %}
{% load i18n %}

<section class="last">
    <div class="avatar span1 pull-left"><a href="{% url "profile_detail" profile.username %}">
        <img src="{% avatar_url profile %}" style="height: 40px" />
    </a></div>
  <div>
    <div>
    <a href="{{ profile.get_absolute_url }}">{{ profile.username }}</a>
      {{ username }}
    </div>
    <div class="details">
      <div class="meta">
        <p>
          {% if profile.organization %}{{ profile.organization }}
            {% else %}{% trans "No Group" %}
          {% endif %}</p>
      </div>
    </div>
  </div>
</section>
