{% load i18n %}

{% verbatim %}
<article ng-repeat="profile in results" ng-cloak class="ng-cloak">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 profile-container">
        <div class="col-md-12 profile-avatar">
            <div class="col-md-12 profile-avatar-details">
                <div class="col-md-12" id="image_and_name">
                    <div class="col-md-5 profile-image">
                        <a href="{{ profile.profile_detail_url }}" id="profile_image"><img ng-src="{{ profile.avatar_100 }}"/></a>
                    </div>
                    <div class="col-md-7 profile-name" id="useritem">
                        <h5 id="user_name">
                            <a href="{{ profile.profile_detail_url }}">{{ profile.first_name != '' ? profile.first_name
                                :
                                profile.username }}
                            </a>
                            <a href="{{ profile.profile_detail_url }}">{{ profile.last_name != '' ? profile.last_name :
                                ''
                                }}
                            </a>
                        </h5>
                    </div>
                    <div class="col-md-12 profile-details">
                    <p>
                        <small>{{ profile.organization != '' ? profile.organization : "No Organization info" }}</small>
                    </p>
                </div>
                <!-- <p>{{ profile.username }}</p> -->
                <!-- <a href="mailto:{{ profile.email }}" ng-if="profile.email != ''"><i class="fa fa-envelope"></i></a> -->
                </div>

            </div>
            <div class="col-md-12 profile-items">
                <ul class="list-inline">
                    <li>
                        <a href="{{ profile.profile_detail_url }}?content=layers">
                            <i class="fa fa-square-o rotate-45"></i>
                            {{ profile.layers_count }}
                            <!-- <ng-pluralize count="profile.layers_count" when="{'1': 'Layer', 'other': 'Layers'}"></ng-pluralize> -->
                        </a>
                    </li>
                    <li>
                        <a href="{{ profile.profile_detail_url }}?content=maps">
                            <i class="fa fa-map-marker"></i>
                            {{ profile.maps_count }}
                            <!-- <ng-pluralize count="profile.maps_count" when="{'1': 'Map', 'other': 'Maps'}"></ng-pluralize> -->
                        </a>
                    </li>
                    <li>
                        <a href="{{ profile.profile_detail_url }}?content=documents">
                            <i class="fa fa-file-text-o"></i>
                            {{ profile.documents_count }}
                            <!-- <ng-pluralize count="profile.documents_count" when="{'1': 'Doc', 'other': 'Docs'}"></ng-pluralize> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
{% endverbatim %}
