{% extends "site_base.html" %}
{% load i18n avatar_tags %}
{% load bootstrap_tags %}

{% block body %}
	<a href="{% url "profile_edit" user.username %}">{% trans "Back to edit your profile information" %}</a>
	<p>{% trans "Your current avatar: " %}</p>
        <img src="{% avatar_url user %}"/>
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" /></p>
    </form>
{% endblock %}