
.navbar-brand {
    background: rgba(0, 0, 0, 0) url("../img/carto/logo.png") no-repeat scroll 15px 0;
}

body {
    background: #ccc url("../img/carto/fond_1920.jpg") repeat scroll 0 0;
    font-family: Arial;
}

#wrap {
    background: none;
}

#wrap .container {
    background-color: #fff;

}

body.home #wrap .container {
    background: none;
}

.navbar-fixed-top {
    border-width: 0;
}

#wrap .container .home-facets .col-md-12 {
    background-color: #0091b5;
    padding-top: 10%;
    padding-bottom: 10%;
}

/*#wrap .container .home-facets .col-md-4:nth-child(2) {*/
/*!*margin-bottom: 10px;*!*/
/*!*margin-top: 10px;*!*/
/*}*/

@media (min-width: 100px) and (max-width: 300px) {
    #wrap .container .home-facets .col-md-4 {
        height: 300px;
        width: 250px;
    }

    #wrap .container .home-facets .col-md-4:nth-child(1) {
        /*margin-right: 30px;*/
        /*margin-left: 30px;*/
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 350px;

    }

    #wrap .container .home-facets .col-md-4:nth-child(2) {
        /*margin-right: 30px;*/
        /*margin-left: 30px;*/
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 350px;

    }
}

@media (min-width: 300px) and (max-width: 992px) {
    #wrap .container .home-facets .col-md-4 {
        height: 300px;
        width: 300px;
    }

    #wrap .container .home-facets .col-md-4:nth-child(1) {
        /*margin-right: 30px;*/
        /*margin-left: 30px;*/
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 330px;

    }

    #wrap .container .home-facets .col-md-4:nth-child(2) {
        /*margin-right: 30px;*/
        /*margin-left: 30px;*/
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 350px;

    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #wrap .container .home-facets .col-md-4 {
        height: 380px;
        width: 310px;
    }

    #wrap .container .home-facets .col-md-4:nth-child(1) {
        /*margin-right: 30px;*/
        /*margin-left: 30px;*/
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 320px;

    }

    #wrap .container .home-facets .col-md-4:nth-child(2) {
        /*margin-right: 30px;*/
        /*margin-left: 30px;*/
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media (min-width: 1200px) {
    #wrap .container .home-facets .col-md-4 {
        height: 362px;
        width: 380px;
    }

    #wrap .container .home-facets .col-md-4:nth-child(1) {
        /*margin-right: 30px;*/
        /*margin-left: 30px;*/
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 320px;

    }

    #wrap .container .home-facets .col-md-4:nth-child(2) {
        /*margin-right: 59px;*/
        /*margin-left: 59px;*/
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

.jumbotron {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    padding: 20px 0 30px;
}

.btn, .form-control, .avatar img, nav.filter h4, .modal-content, .input-group-addon,
.dropdown-menu, .ms-container .ms-list, .panel-group .panel, .pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span, .list-group-item:first-child, .list-group-item:last-child,
.popover, .checkbox, .panel {
    border-radius: 0px;
}

nav.filter .active .badge {
    background: #f05a24;
}

.btn-primary, nav.filter h4 {
    background-color: #0091b5
}

.btn-primary:hover {
    background-color: #007693;
}

.btn-primary:focus {
    background-color: #007693;
}

.btn-default {
    background-color: #0091b5;
    color: white;
}

.btn-default:hover, .btn-default:focus {
    background-color: #007693;
    color: white;
}

.btn-info {
    background-color: #0091b5;
    color: white;
    border: none;
}

.btn-info:hover, .btn-info:focus {
    background-color: #007693;
}

.btn-create-layer {
    background-color: transparent;
    color: #0091b5;
    border-color: #0091b5;
}

.pagination > li > a, .pagination > li > span {
    color: #0091b5;
}

.btn-create-layer:hover {
    background-color: #f5f5f5;
    color: #007693;
    border-color: #007693;
}

h2, .h2 {
    color: #0091b5;
}

.home-facets a, .home-facets a:hover {
    color: #fff;
}

.home-facets .btn-default {
    background-color: #0091b5;
}

.home-facets .col-md-4 i {
    color: transparent;
    content: "";
    height: 90px;
    transform: rotate(0deg);
    width: 72px;
}

.home-facets .col-md-4:nth-child(1) i {
    background: rgba(0, 0, 0, 0) url("/static/geonode/img/carto/Picto_couches.png") no-repeat scroll 0 0;
}

.home-facets .col-md-4:nth-child(2) i {
    background: rgba(0, 0, 0, 0) url("/static/geonode/img/carto/Picto_carte.png") no-repeat scroll 0 0;
}

.home-facets .col-md-4:nth-child(3) i {
    background: rgba(0, 0, 0, 0) url("/static/geonode/img/carto/Picto_document.png") no-repeat scroll 0 0;
}

.row, .col-md-10, .col-md-8 {
    padding: 1%;
}

.no_padding {
    padding: 0px;
}

.footer {
    background-color: rgba(0, 145, 181, 0.5);
    color: #fff;
    border: none;
    height: 5%;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 1px;
}

#p_home {
    color: #FFFFFF;
    height: 5em;;
}

.col-md-3{
    color: black;
}

.alert {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    color: #999999;
    border-radius: 0;
}
.alert-warning {
    background-color: #f4b800;
    border-color: #f4b800;
    color: #ffffff;
    border-radius: 0;
}
.alert-danger {
    background-color: #fd4c4c;
    border-color: #fd4c4c;
    color: #ffffff;
    border-radius: 0;
}
#announcetitle{
    color:#333;
}

.col-md-12 .profile-avatar-details{
    min-height: 9em;
    padding: 0;
}

#user_name{
    margin-left: 0em;
    padding: 0;
}

#image_and_name{
    margin-top: 0%;
    padding: 0;
}

#profile_image{
    width: 150%;
}

#useritem{
    padding-left: 5%;
}

.col-md-12 .profile-details{
    padding-top: 3%;
}

#treeview{
    border-left: 0;
    border-right: 0;
    color: #028baf;

}

/*#treeview:active{*/
    /*color: #f05a24;*/
    /*background-color: transparent;*/
    /*padding: 5px 10px;*/
    /*padding-left: 0;*/
    /*margin-left: -10px;*/
/*}*/
.node-treeview{
    border-left: 0;
    border-right: 0;
    padding: 5px 10px;
}

.list-group-item li:active{
    pointer-events: None;
}
.panel>.list-group .list-group-item{
    margin-left: 0px;
    padding-left: 15px;
    color: black;
}

.btn .btn-default .btn-xs .pull-right{
    background-color: transparent;
}
/*background-image: url("../img/carto/Picto_couches.png");*/