{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Log in to an existing account" %}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <form role="form" method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
      {% csrf_token %}
      {{ form|as_bootstrap }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
{% comment %}      <div class="form-group">
        <p><a href="{% url "forgot_username" %}">{% trans "Forgot your username?" %}</a></p>
        <p><a href="{% url "account_password_reset" %}">{% trans "Forgot your password?" %}</a></p>
      </div>{% endcomment %}
      <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
    </form>
  </div>
</div>
{% endblock %}