{% extends "documents/document_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Documents" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents documents-list explore{% endblock %}

{% block body %}
<div class="page-header">
    {% if perms.documents.add_document or perms.base.add_resourcebase %}
  <a href="{% url "document_upload" %}" class="btn btn-primary pull-right">{% trans "Upload Documents" %}</a>
    {% endif %}
  <h2>{% trans "Explore Documents" %}</h2>
</div>
  {% with include_type_filter='true' %}
  {% with facet_type='documents' %}
  {% with header=_('Document Type') %}
  {% with filter='doc_type__in' %}
  {% include "search/_search_content.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='documents'%}'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}';
      {% endif %}
    FILTER_TYPE = 'document';
    spatial_filter_zoom = {{ spatial_filter_zoom|safe }};
    spatial_filter_lat = {{ spatial_filter_lat|safe }};
    spatial_filter_lng = {{ spatial_filter_lng|safe }};
    spatial_filter_basemap_url = '{{ spatial_filter_basemap_url|safe }}';
    default_map_crs = '{{ default_map_crs|safe }}';
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
