{% load i18n %}
<nav class="filter">
    <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "domain" %}</a></h4>
    <ul class="nav open" id="domains">
    {% verbatim %}
    <li ng-repeat="domain in domains" ng-if="domain.count > 0">
      <a data-value="{{ domain.identifier }}" data-filter="domains__identifier__in" ng-click="multiple_choice_listener($event)" class="{{domain.active}}">{{ domain.gn_description }}
        <span class="badge pull-right">{{ domain.count }}</span>
      </a>
    </li>
    {% endverbatim %}
    </ul>
</nav>
