{% load i18n %}
<div class="row" ng-controller="CartList">
  <div class="col-md-3">
    <div class="row">
      <div class="col-xs-12">
        {% load base_tags %}
        <nav class="filter">
            <h4><a href="" class="toggle toggle-nav">
                    <i class="fa fa-chevron-down"></i>
                    {% trans "search" %}
                </a></h4>
            <ul class="nav open" id="text">
                <li>
                    <div class="input-group">
                        {% if  facet_type == "groups" %}
                    <input name="text_search_input" id="text_search_input" ng-model="text_query" type="text"
                           placeholder="{% trans "group name" %}" class="form-control">
                        {% elif facet_type == "people" %}
                    <input name="text_search_input" id="text_search_input" ng-model="text_query" type="text"
                           placeholder="{% trans "Search by name" %}" class="form-control">
                        {% endif %}

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="text_search_btn"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                </li>
            </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="col-md-2">
      <span>Total : </span>
      <span ng-bind="total_counts"></span>
    </div>
    {% include "search/_sort_filters.html" %}
    <div class="col-md-12 grid-spacer">
        {% if facet_type == 'groups' %}
            {% include 'search/_group_snippet.html' %}
        {% elif facet_type == 'people' %}    
            {% include "people/_profile_list_item.html" %}
        {% endif %}
    </div>
        {% include 'search/_pagination.html' %}
  </div>
</div>
