{% load i18n %}
{% load base_tags %}
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>{% trans header %}</a></h4>
  <ul class="nav" id="types">
        {% facets as facets %}

        {% for facet, label, count in facets %}
        {% if count > 0 %}
        <li>
            <a id="{{ facet }}" data-value="{{ facet }}" data-filter="{{ filter }}" ng-click="multiple_choice_listener($event)">{{ label|capfirst }}
            <span class="badge pull-right">{{ count }}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
  </ul>
</nav>
