{% load i18n %}
{% load base_tags %}
<nav class="filter">

    <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Zones" %}</a></h4>
    <ul class="nav closed" id="zones">
        <li>
            <div class="input-group">
            <input name="zone_search_input" id="zone_search_input" type="text"
                   placeholder="{% trans 'Search by zone' %}" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="zone_search_btn"><i class="fa fa-search"></i></button>
            </span>
            </div>
        </li>
    </ul>

</nav>
