{% load base_tags %}
{% if DEBUG_STATIC %}

<script src="{{ STATIC_URL }}lib/js/angular.js?v={{ VERSION }}"></script>
<script src="{{ STATIC_URL }}lib/js/angular-leaflet-directive.min.js?v={{ VERSION }}"></script>
<script src="{{ STATIC_URL }}lib/js/bootstrap-treeview.min.js?v={{ VERSION }}"></script>
{% endif %}

{% if include_spatial == 'true' %}
<style>
  .filter-map-container {  /* filter map */
    height: 300px;
  }
</style>

{% include 'search/_spatial_tags.html' %}

{% endif %}
<link rel="stylesheet" href="{{ STATIC_URL }}geonode/css/openlayers/ol.css" type="text/css">
<script src="{{ STATIC_URL }}geonode/js/openlayers/ol.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/proj4.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}geonode/js/projections/2154.js"></script>
<script src="{{ STATIC_URL }}geonode/js/search/explore.js?v={{ VERSION }}"></script>
<script type="text/javascript">
    {% get_context_resourcetype as pathc %}
            pathc = "{{ pathc }}";
</script>
<script src="{{ STATIC_URL }}geonode/js/search/search.js?v={{ VERSION }}"></script>
<script src="{{ STATIC_URL }}geonode/js/search/cart.js"></script>
<script src="{{ STATIC_URL }}lib/js/bootstrap-treeview.min.js?v={{ VERSION }}"></script>
<script type="text/javascript">
  $("body").attr('ng-controller', 'geonode_search_controller');
  CATEGORIES_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='categories' %}';
  DOMAINS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='domains' %}';
  KEYWORDS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='keywords' %}';
  H_KEYWORDS_ENDPOINT = '{% url 'h_keywords_api' %}';
  REGIONS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='regions' %}';
  ZONES_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='zones' %}';
  OWNERS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='owners' %}';
  HAYSTACK_SEARCH = "{{ HAYSTACK_SEARCH }}".toLowerCase() === "true";
  HAYSTACK_FACET_COUNTS = "{{ HAYSTACK_FACET_COUNTS }}".toLowerCase() === "true";
  CLIENT_RESULTS_LIMIT = {{ CLIENT_RESULTS_LIMIT }};
  {% get_context_resourcetype as pathc %}
        {% if pathc == "layers" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "LayerAutocomplete" %}';
        {% elif pathc == "maps" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "MapAutocomplete" %}';
        {% elif pathc == "documents" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "DocumentAutocomplete" %}';
        {% elif pathc == "search" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "ResourceBaseAutocomplete" %}';
        {% elif pathc == "people" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "ProfileAutocomplete" %}';
        {% elif pathc == "groups" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "GroupProfileAutocomplete" %}';
        {% else %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "ResourceBaseAutocomplete" %}';
        {% endif %}
  AUTOCOMPLETE_URL_REGION = '{% url "autocomplete_light_autocomplete" "RegionAutocomplete" %}';
  AUTOCOMPLETE_URL_ZONE = '{% url "autocomplete_light_autocomplete" "ZoneAutocomplete" %}';

  var module = angular.module('search', ['geonode_main_search', 'cart']);
  module.constant('Configs', {
    url: SEARCH_URL
  });

  var deps = ['search'];
  {% if include_spatial == 'true' %}
  deps.push('leaflet-directive');
  {% endif %}
  angular.bootstrap(document, deps);
</script>
